{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroUserBundle::macros.html.twig' as USER %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% set addContactButton %}
    {{ UI.clientButton({
        'dataUrl': path('ehdev_festival_contact_create', {id: entity.id}),
        'aCss': 'no-hash',
        'iCss': 'fa-plus',
        'dataId': null,
        'title' : 'Add Contact',
        'label' : 'Add Contact',
        'widget' : {
            'type' : 'dialog',
            'multiple' : false,
            'options' : {
                'stateEnabled': false,
                'dialogOptions' : {
                    'title' : 'Add Contact',
                    'allowMaximize': false,
                    'allowMinimize': false,
                    'dblclick': 'maximize',
                    'maximizedHeightDecreaseBy': 'minimize-bar',
                    'width': 500
                }
            }
        }
    }) }}
{% endset %}

{% set billingAddressButton %}
    {% set dialogTitle = 'ehdev.festivalbasics.billingaddress.update_entity'|trans %}
    {% if entity.billingAddress is null %}
        {% set path = path('ehdev_festival_billingaddress_create', {id: entity.id}) %}
    {% else %}
        {% set path = path('ehdev_festival_billingaddress_update', {id: entity.billingAddress.id}) %}
    {% endif %}

    {{ UI.clientLink({
        'dataUrl': path,
        'aCss': 'no-hash',
        'dataId': null,
        'title' : dialogTitle,
        'label' : dialogTitle,
        'widget' : {
            'type' : 'dialog',
            'multiple' : false,
            'options' : {
                'stateEnabled': false,
                'dialogOptions' : {
                    'title' : dialogTitle,
                    'allowMaximize': false,
                    'allowMinimize': false,
                    'dblclick': 'maximize',
                    'maximizedHeightDecreaseBy': 'minimize-bar',
                    'width': 500
                }
            }
        }
    }) }}
{% endset %}

{% set buttonAddFestival %}
    {% set dialogTitle = 'ehdev.festivalbasics.festivalaccount.widget.festivals.add_festival'|trans %}
    {{ UI.clientButton({
        'dataUrl': path('ehdev_festival_festival_account_add_festival', {'id': entity.id}),
        'aCss': 'no-hash',
        'iCss': 'fa-plus',
        'dataId': null,
        'title' : dialogTitle,
        'label' : dialogTitle,
        'widget' : {
            'type' : 'dialog',
            'multiple' : false,
            'options' : {
                'stateEnabled': false,
                'dialogOptions' : {
                    'title' : dialogTitle,
                    'allowMaximize': true,
                    'allowMinimize': true,
                    'dblclick': 'maximize',
                    'maximizedHeightDecreaseBy': 'minimize-bar',
                    'width': 500
                }
            }
        }
    }) }}
{% endset %}

{% set tabsContact = [] %}
{% for contact in entity.contacts %}
    {% set tabsContact = tabsContact|merge([
        {
            'alias': 'festival-account-contact-widget-festival-info-' ~ contact.id,
            'widgetType': 'block',
            'label': contact.firstName ~ ' ' ~ contact.lastName,
            'url': path('ehdev_festival_contact_view', {'id': contact.id})
        }
    ]) %}
{% endfor %}

{#{% set tabsFestival = [] %}#}
{#{% for festival in entity.festivals %}#}
{#    {% set tabsFestival = tabsFestival|merge([#}
{#        {#}
{#            'alias': 'festival-account-festivals-widget-festival-info-' ~ festival.id,#}
{#            'widgetType': 'block',#}
{#            'label': festival.name,#}
{#            'url': path('ehdev_festival_festival_widget_info', {'id': festival.id})#}
{#        }#}
{#    ]) %}#}
{#{% endfor %}#}


<div class="widget-content">
    <div class="row-fluid">
        <div class="responsive-block">
            {% if entity.accountManager  %}
                {{ UI.renderHtmlProperty('ehdev.festivalbasics.festivalaccount.account_manager.label'|trans, USER.render_user_name(entity.accountManager)) }}
            {% endif %}
            {{ addContactButton }}
            {% if (tabsContact|length == 0) %}
                <div class="no-data">
                    {{ 'ehdev.festivalbasics.contact.widget.contacts.no_data_found'|trans }}
                </div>
            {% else %}
                {% if not isMobileVersion() %}
                    {% set tabsOptions = {
                        verticalTabs: true,
                        useDropdown: false
                    }%}
                {% endif %}
                {{ tabPanel(tabsContact, tabsOptions|default({})) }}
            {% endif %}
        </div>

        <div class="responsive-block">
            <h4>{{ 'ehdev.festivalbasics.billingaddress.entity_label'|trans }}</h4>

            {{ UI.renderHtmlProperty('', billingAddressButton|raw ) }}
            {% if entity.billingAddress %}
                {{ UI.renderHtmlProperty('ehdev.festivalbasics.billingaddress.label.label'|trans, entity.billingAddress.label|default('')) }}
                {{ UI.renderHtmlProperty('ehdev.festivalbasics.billingaddress.organization.label'|trans, entity.billingAddress.organization|default('')) }}
                {{ UI.renderHtmlProperty('ehdev.festivalbasics.billingaddress.street.label'|trans, entity.billingAddress.street|default('')) }}
                {{ UI.renderHtmlProperty('ehdev.festivalbasics.billingaddress.street2.label'|trans, entity.billingAddress.street2|default('')) }}
                {{ UI.renderHtmlProperty('ehdev.festivalbasics.billingaddress.postal_code.label'|trans, entity.billingAddress.postalCode|default('')) }}
                {{ UI.renderHtmlProperty('ehdev.festivalbasics.billingaddress.city.label'|trans, entity.billingAddress.city|default('')) }}
                {{ UI.renderHtmlProperty('ehdev.festivalbasics.billingaddress.country.label'|trans, entity.billingAddress.country|default('')) }}
                {{ UI.renderHtmlProperty('ehdev.festivalbasics.billingaddress.region.label'|trans, entity.billingAddress.region|default('')) }}
            {% endif %}
        </div>
    </div>

    <div class="row-fluid">
        {{ buttonAddFestival }}

        {{ dataGrid.renderGrid('ehdev-festival-account-festival-grid', { festivalAccount: entity.id}, { cssClass: 'inner-grid' }) }}


        {#        {% if (tabsFestival|length == 0) %}#}
{#            <div class="no-data">#}
{#                {{ 'ehdev.festivalbasics.festivalaccount.widget.festivals.no_data_found'|trans }}#}
{#            </div>#}
{#        {% else %}#}
{#            {% if not isMobileVersion() %}#}
{#                {% set tabsOptions = {#}
{#                    verticalTabs: true,#}
{#                    useDropdown: false#}
{#                }%}#}
{#            {% endif %}#}
{#            {{ tabPanel(tabsFestival, tabsOptions|default({})) }}#}
{#        {% endif %}#}
    </div>
</div>
